/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
    margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

ul {
    list-style: none;
    padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

/* ---------------- */

:root {
    --gray-color: rgb(255, 255, 255);
    --dark-gray-color: rgb(66, 66, 66);
    --chalk-color: rgb(165, 165, 165);
    --black-color: rgb(15, 15, 15);
}

body {
    background-color: var(--gray-color);
    color: var(--black-color);
    font-family: "Kantumruy Pro", sans-serif;
}

header {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
    border-bottom: 1px solid var(--dark-gray-color);
}

.intro {
    position: absolute;
    height: fit-content;
    left: 0;
    bottom: clamp(18%, 38vh, 47%);
}

.intro h1 {
    width: 100%;
    font-size: clamp(2.2rem, 8vw, 8rem);
    padding-left: 3.4rem;
    font-weight: 300;
    font-style: normal;
}

.intro .studio {
    width: clamp(220px, 45vw, 680px);
    object-fit: contain;
}

.banner {
    margin: auto;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.blackboard {
    position: absolute;
    font-size: 2rem;
    font-family: "Cabin Sketch", sans-serif;
    /* bottom: clamp(2%, 4vh, 1%); */
    top: 75%;
    left: 2rem;
    text-align: justify;
    color: rgb(165, 165, 165);
    width: 66%;
    max-width: 950px;
    line-height: 1.2;
}

.blackboard-signature {
    text-align: right;
}

.blackboard small {
    font-size: 1.6rem;
    display: block;
    padding: 1.6rem 0 .7rem 0;
    text-align: left;
}

.instagram-feed {
    width: 90%;
    margin: auto;
}

/* -- Footer -- */

footer {
    margin-top: 4rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
    font-size: 1rem;
    color: var(--dark-gray-color);
    border-top: 1.4px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-wrapper {
    margin-bottom: 1rem;
    position: relative;
}

.info-wrapper h4 {
    margin-bottom: 1rem;
}

.info-wrapper input,
.info-wrapper button {
    padding: .4rem 1rem;
    border-radius: 0;
    border: 1px solid var(--black-color);
    background-color: var(--gray-color);
}

.info-wrapper button {
    background-color: var(--black-color);
    color: var(--gray-color);
    margin-left: -12px;
}

.info-wrapper img {
    position: absolute;
    width: 100%;
    top: 38%;
    left: 2%;
    z-index: -23;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .6rem;
    margin-top: 1rem;
}

.contacts svg {
    height: 1.2rem;
    fill: var(--dark-gray-color);
}

/* -- @Media -- */

@media screen and (width < 900px) {
    .intro {
        width: 100vw;
        text-align: center;
        bottom: 55%;
    }

    .intro h1 {
        position: static;
        font-size: clamp(2.4rem, 9vw, 4rem);
        padding: 3rem 0 1rem 0;
        text-align: center;
    }

    .intro .studio {
        position: static;
        width: clamp(400px, 80vw, 670px);
        margin: auto;
    }
}

@media screen and (width < 775px) {
    .blackboard {
        font-size: 1.4rem;
        width: 90%;
        margin: auto;
        left: 4%;
        /* bottom: 0.5%; */
        top: 70%;
    }

    .blackboard small {
        font-size: 1.2rem;
    }
}

@media screen and (width < 800px) and (height > 700px ) {
     /* .blackboard {
        top: 83%;
    } */
}

@media screen and (max-width: 425px) {
    .info-wrapper input {
        max-width: 176px;
    }

    .blackboard {
        font-size: 1.4rem;
        width: 90%;
        margin: auto;
        left: 4%;
        /* bottom: 0.5%; */
    }

    .blackboard small {
        font-size: 1.16rem;
    }
}